{% extends 'notes/master/master.html'%}
{% load static %}

{% block addcss %}
<link href="{% static '/styles/home.css' %}" rel="stylesheet">
{% endblock %}
{% block body%}
<body>
    <h1>Lista de Notas Escritas por Usuarios!</h1>
    <section>
        <ol>
        {% for note in object_list%}
            <li class="note-item">
                <article>
                    <div class="note-summary">
                        <div class="note-image">
                        <img src="{{ note.image.url }}" alt="{{title}}">
                        </div>
                        <div class = "note-details">
                        <h3>{{ note.title }}</h3>
                        <h4>Hecho por: {{note.user}}</h4>
                        <address> {{note.publish_date}} </address>
                        
                        </div>
                    </div>
                    <div class="note-actions">
                        <a href="{% url 'note' note.id %}" class = "btn"> More Details</a>
            
                    </div>
                </article>
            </li>
        {% endfor %}
        </ol>
        <h3><a href="{% url 'add_note' %}">Create a Note!</a></h3>
    </section>
</body>
{% endblock %}
